- hosts: all
  become: yes

  tasks:
    - name: Install pip
      apt:
        name: python3-pip
        state: present
        update_cache: yes

    - name: Install Docker SDK
      pip:
        name:
          - docker

    - name: Run wartest container
      community.general.docker_container:
        name: wartest
        image: "{{ image }}"
        state: started
        restart_policy: unless-stopped
        ports:
          - "8081:8080"
